@font-face {
    font-family: PTSerif;
    src: url('/fonts/sf4/sf4.ttf');
}

@font-face {
    font-family: WorkSans;
    src: url('/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: NeueHaas;
    src: url('/fonts/NeueHaasDisplayRoman.ttf')
}

@font-face {
    font-family: Inter;
    src:url('/fonts/Inter/Inter.ttf')
}

.inter {
    font-family:Inter;
}

.WorkSans {
    font-family: Inter;
}

:root {
    font-family: PTSerif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.small {
    font-size:.75em;
    color:grey;
    font-family: WorkSans;
}


body {
    margin:0;
}
